@import "tailwindcss";

:root {
  --background: #ebe7dc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
  --font-mono: var(--font-geist-mono);
  --font-murecho: var(--font-murecho);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Instrument Sans", Helvetica, sans-serif;
}
